body{
  background-color: black;
  display: flex;
}

#paragraph {
  height: auto;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(10, 10, 10), rgb(97, 69, 69));
  animation: fadeIn 3s ease-in-out;
}

#paragraph p:hover{
  transform: scale(1.01);
}

#social-media-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin: 0;
  padding-bottom: 15px;
  flex: 1;
  height: 100%;
  width: 100%;
  gap: 10px;
  text-align: center;
  animation: fadeIn 4s ease-in-out;
}

#my_picture {
  height: auto;
  max-height: 40vh;
  width: 100%;
  border-radius: 50%;
  background-color: black;
  border: rgb(15, 3, 3) 3px dashed;
  transition: opacity 1s ease;
  animation: fadeIn 5s ease-in-out;
}

#my_picture:hover {
  opacity: 0.7;
}

.social-media-icon {
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(179, 98, 98));
  border: rgb(15, 3, 3) 3px solid;
  animation: fadeIn 6s ease-in-out;
  transition: opacity 1s ease;
}

.social-media-icon:hover{
  transform: scale(1.1);
  opacity: 0.7;
}

.social-media{
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  border-radius: 10px;
  width: 40%;
  top: -3%;
  left: 26%;
  margin: 50px;
  max-width: 1200px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid rgb(8, 7, 7);
  padding: 20px;
  gap: 20px;
  z-index: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#email-address-link{
  font-weight: 1000;
  color: rgb(79, 106, 173);
  cursor: pointer;
}

#email-address-link:active{
  color: rgb(255, 255, 255);
}

.gif-container {
  position: fixed; 
  width: 100%;
  height: 100%;
}

.background-gif {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
