body{
  background: linear-gradient(to right, rgb(255, 255, 255),black, rgb(97, 69, 69));
}

#paragraph {
  height: auto;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  border: 1px dashed black;
  background: linear-gradient(to right, rgb(10, 10, 10), rgb(97, 69, 69));
  transition: font-size 5s ease;
  animation: fadeIn 3s ease-in-out;
}

#paragraph:hover{
  font-size: 17px;
}


#social-media-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin: 0;
  padding: 0;
  flex: 1;
  height: 100%;
  width: 100%;
  gap: 10px;
  text-align: center;
}

#my_picture {
  height: auto;
  max-height: 40vh;
  width: 100%;
  border-radius: 50%;
  background-color: black;
  border: rgb(15, 3, 3) 3px dashed;
  transition: max-height 1s ease, opacity 1s ease;
  animation: fadeIn 5s ease-in-out;
}

#my_picture:hover {
  opacity: 0.7;
  max-height: 41vh;
}

.social-media-icon {
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(179, 98, 98));
  border: rgb(15, 3, 3) 3px solid;
  animation: fadeIn 6s ease-in-out;
  transition: height 1s ease, opacity 1s ease;
}

.social-media-icon:hover{
  height: 52px;
  opacity: 0.7;
}

.social-media{
  display: flex;
  flex-direction: column;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 40%;
  margin: 50px auto;
  max-width: 1200px;
  height: auto;
  background-color: rgb(87, 41, 41);
  color: white;
  border: 2px solid rgb(8, 7, 7);
  padding: 20px;
  gap: 15px;
  animation: fadeIn 1s ease-in-out forwards;
}

#email-address-link{
  font-weight: 1000;
  color: rgb(79, 106, 173);
  cursor: pointer;
}

#email-address-link:active{
  color: rgb(255, 255, 255);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
