body{
  background-color: black;
  color: rgb(255, 255, 255);
} 

#project-header{
  display: fixed;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(92, 46, 46));
  padding: 20px;
  border-bottom: 0.5px solid white;
  font-size: 50px;
    text-shadow: 
    -1px -1px 0px rgb(0, 0, 0),  
    2px -1px 0px black,  
    -1px 1px 0px black,  
    1px 1px 0px black,  
    0px -2px 0px black,
    0px 2px 0px black,
    -2px 0px 0px black,
    3.3px 0px 0px black; 
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(58, 27, 27));
  color: white;
  border: 1px solid rgb(247, 247, 247);
  padding: 20px;
  padding-bottom: 30px;
  animation: fadeIn 2s ease-in-out;
}

.project-title{
  display: fixed;
  text-decoration: none;
  color: white;
  transition: text-shadow 1s ease;
  text-shadow: 
    -1px -1px 0px rgb(0, 0, 0),  
    1px -1px 0px black,  
    -1px 1px 0px black,  
    1px 1px 0px black,  
    0px -2px 0px black,
    0px 2px 0px black,
    -2px 0px 0px black,
    3.3px 0px 0px black; 
}

.project-title h1:hover{
  transform: scale(1.05);
}

.slider-container {
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}


.slider-images {
  display: flex;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.slider-images img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.slider-images img:hover{
  opacity: 0.95;
}

.slider-button {
  position: absolute;
  background-color: rgba(56, 55, 55, 0.5);
  border: white 1px solid;
  color: white;
  bottom: 1%;
  padding: 10px;
  cursor: pointer;
}

.slider-button.left {
  left: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.slider-button.right {
  right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.slider-button:hover{
  opacity: 0.8;
}

.technologies-used-section{
  margin-top: 30px;
  padding-bottom: 10px;
}

.programming-language-icon{
  margin-right: 10px;
  width: 35px;
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
